body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color:  rgb(6, 141, 28);
}
header {
    background: #000000;
    color: rgb(6, 141, 28);
    padding: 1rem 0;
    text-align: center;
}
nav {
    background-color: #333;
    padding: 1rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 1rem;
}

nav a {
    text-decoration: none;
    color: rgb(6, 141, 28);
}

nav a:hover {
    color: #f0f0f0;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
    background: rgb(77, 77, 77);
    border-radius: 8px;
}
footer {
    text-align: center;
    padding: 1rem;
    background: #000000;
    color: rgb(6, 141, 28);
    margin-top: 2rem;
}